<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./menu.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="head">
        
    </ui:define>
    <ui:define name="content">  
       
            <p:growl id="grwlErrores"/>
            <p:diagram id="pnlArbol" value="#{arbolBinarioControlador.model}" style="height:400px" styleClass="ui-widget-content" />

        
            <h:form>
            <p:panel header="Panel Nuevo Nodo">
                <p:outputLabel value="Dato:"/>
                <p:inputText required="true" value="#{arbolBinaroControlador.dato}"/>
                <p:commandButton value="Agregar" action="#{arbolBinaroControlador.adicionarNodo()}"
                                 update="@all"  />
                <p:commandButton value="InOrden" action="#{arbolBinaroControlador.habilitarInOrden()}" update="@all" />
                 <p:commandButton value="PreOrden" action="#{arbolBinaroControlador.habilitarPreOrden()}" update="@all" />
                <p:commandButton value="PosOrden" action="#{arbolBinaroControlador.habilitarPosOrden()}" update="@all" />
                <p:commandButton value="Altura" action="#{arbolBinaroControlador.habilitarAltura()}" update="@all" />
                <p:commandButton value="Balance" action="#{arbolBinaroControlador.habilitarBalance()}" update="@all" />
                <p:commandButton value="CantidadHojas" action="#{arbolBinaroControlador.habilitarCantidadHojas()}" update="@all" />
                <p:commandButton value="CantidadNodos" action="#{arbolBinaroControlador.habilitarCantidadNodos()}" update="@all" />
                <p:commandButton value="MayorValor" action="#{arbolBinaroControlador.habilitarMayorValor()}" update="@all" />
                <p:commandButton value="Borrar Mayor" action="#{arbolBinaroControlador.HaBorrarMayor()}" update="@all" />
                <p:commandButton value="BorrarMenor" action="#{arbolBinaroControlador.HaBorrarMenor()}" update="@all" />
                <p:commandButton value="MenorValor" action="#{arbolBinaroControlador.habilitarMenorValor()}" update="@all" />
                <p:commandButton value="Verficiar Completo" action="#{arbolBinaroControlador.completo()}"  update="@all" />
                <br/>
                
                <p:commandButton value="Agregar" action="#{arbolBinaroControlador.extraccion()}"
                                 update="@all"  />  
                <br/>
                  
                
                </p:panel> 
                </h:form>
            
            
            <h:panelGroup rendered="#{arbolBinaroControlador.verInOrden}">
                <p:panel header="InOrden">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.inOrden()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
                </h:panelGroup>   
            
             <h:panelGroup rendered="#{arbolBinaroControlador.verPreOrden}">
                <p:panel header="PreOrden">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.preOrden()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
             <h:panelGroup rendered="#{arbolBinaroControlador.verPosOrden}">
                <p:panel header="PosOrden">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.posOrden()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{arbolBinaroControlador.verAltura}">
                <p:panel header="Altura">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.alturaArbol()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{arbolBinaroControlador.verBalance}">
                <p:panel header="Balance">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.imprimirBalance()}">  
                      <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>
                      </p:panel>
                        </h:panelGroup>
            
                    <h:panelGroup rendered="#{arbolBinaroControlador.verCantidadHojas}">
                <p:panel header="Cantidad Hojas">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.cantidadNodosHoja()}">  
                      <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>
                      </p:panel>
                        </h:panelGroup>
                    <h:panelGroup rendered="#{arbolBinaroControlador.verCantidadNodos}">
                <p:panel header="Cantidad Nodos ">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.cantidadNodos()}">  
                      <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>
                      </p:panel>
                        </h:panelGroup>
                    <h:panelGroup rendered="#{arbolBinaroControlador.verMayorValor}">
                <p:panel header="MAyor Valor ">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.mayorValor()}">  
                      <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>
                      </p:panel>
                        </h:panelGroup>
            <h:panelGroup rendered="#{arbolBinaroControlador.verMenorValor}">
                <p:panel header="Menor Valor">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.menorValor()}">
                      <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{arbolBinaroControlador.verBorrarMayor}">
                <p:panel header="MAyor Borrado">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.mayorValor()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
                 </h:panelGroup>
            
            <h:panelGroup rendered="#{arbolBinaroControlador.verBorrarMenor}">
                <p:panel header="MAyor Borrado">
                    <p:dataTable var="nodo" value="#{arbolBinaroControlador.arbol.menorValor()}">
                        <p:column headerText="Id">
                            <h:outputText value="#{nodo}" />
                        </p:column>

                    </p:dataTable>

                </p:panel>
                 </h:panelGroup>
        </h:form>
       
       <h:form>
            <p:panel header="llenar árbol">
                <p:inputTextarea required="true" cols="40" value="#{arbolBinaroControlador.datoscsv}"/>
                <p:commandButton value="LLenar Arbol" action="#{arbolBinaroControlador.extraerDatos()}"
                                 update="@all" ajax="false"/>

            </p:panel>
        </h:form>
       
   <h:form>
            <p:panel header="Terminados en">
                <p:inputText required="true" value="#{arbolBinaroControlador.terminado}"/>
                <p:commandButton value="Buscar Terminados" action="#{arbolBinaroControlador.buscarTerminadosEn()}"
                                 update="@all" ajax="false"/>
                <p:commandButton value="Obtener árbol terminados" 
                                 action="#{arbolBinaroControlador.encontrarTerminadosEn()}"
                                 update="@all" ajax="false"/>

            </p:panel>
           </h:form>
    <p:diagram id="pnlArbolTerminados" value="#{arbolBinaroControlador.modelArbol2}" style="height:400px" styleClass="ui-widget-content" />
       </ui:define>

</ui:composition>

