<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
    </h:head>  
    <h:body>
  <h:form>
              <p:tabMenu activeIndex="#{param.i}">
    <p:menuitem value="Calificaciones" outcome="/Calificaciones.xhtml" icon="ui-icon-star">
        <f:param name="i" value="0" />
    </p:menuitem>
    <p:menuitem value="Atracciones" outcome="/Atracciones.xhtml" icon="ui-icon-search">
        <f:param name="i" value="1" />
    </p:menuitem>
    <p:menuitem value="Visitantes" outcome="/Visitantes.xhtml" icon="ui-icon-document">
        <f:param name="i" value="2" />
    </p:menuitem>
             <p:menuitem value="Encuesta" outcome="/Encuesta.xhtml" icon="ui-icon-document">
        <f:param name="i" value="3" />
    </p:menuitem>
  
</p:tabMenu>
            <p:growl id="grwlErrores">
                <p:panel header="Agregar Atracción" id="pnlAtraccion">
                    <h:panelGrid columns="2">
                        <h:outputText value="Codigo"/>
                        <p:inputText required="true" value="#{arbolNControlador.datosAtr.codigo}"/>
                        <h:outputText value="Descripción"/>
                        <p:inputText required="true" value="#{arbolNControlador.datosAtr.descripcion}"/>
                        <h:outputText value="Estado"/>
                        <p:selectBooleanCheckbox required="true" value="#{arbolNControlador.datosAtr.estado}"/>
                        <p:commandButton value="Agregar" ajax="false" action="#{arbolNControlador.adicionarAtraccion()}" update="pnlAtracciones,dtanble,grwlErrores"/>
                    </h:panelGrid>
                </p:panel>
                <p:panel header="Atracciones" id="pnlAtracciones">
                    <p:dataTable id="dtanble" var="nodo" value="#{arbolNControlador.listaAtracciones}" style="width:500px">
                        <p:column headerText="Codigo: ">
                            <center>
                                <h:outputText value="#{nodo.atraccionC.codigo}"/>
                            </center>
                        </p:column>
                        <p:column headerText="Descripcion:">
                            <center>
                                <h:outputText value="#{nodo.atraccionC.descripcion}"/>
                            </center>
                        </p:column>
                        <p:column headerText="Estado: ">
                            <center>
                                <p:selectBooleanCheckbox value="#{nodo.atraccionC.estado}" disabled="true"/>
                            </center>
                        </p:column>
                        <p:column headerText="Calificar:">
                            <center>
                                <p:commandButton value="Calificar" disabled="#{!nodo.atraccionC.estado}" action="#{arbolNControlador.irEncuesta(nodo)}" immediate="true" update="@all"/>
                            </center>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </p:growl>
        </h:form>
           
        
    </h:body>
    
    </html>
        
 