<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
         xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    
<style type="text/css">
.ui-diagram-element {
    border:0.1em dotted #d4e06b;    
    width:3em; 
    height:3em;     
    line-height:4em;
    text-align: center;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
     border-radius: 3em;
            border: 1px solid #0e0587;
            background-color: #000000;
            color: #cccccc;
            }
           .ui-diagram-element:hover {
            background-color: #c90609;
        }
        .ui-diagram-element-busc {   
            width:3em; 
            height:3em;
            line-height:3em;
            text-align: center;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
            border-radius: 0em;
            border: 1px solid #186080;
            background-color: yellow;
            color: black;
        }

        .ui-diagram-element:hover {
            background-color: #20282b;
        }
        </style> 

            
    <h:head>
    </h:head>  
    <h:body>
 <h:form>
        <p:tabMenu activeIndex="#{param.i}">
    <p:menuitem value="Calificaciones" outcome="/Calificaciones.xhtml" icon="ui-icon-star">
        <f:param name="i" value="0" />
    </p:menuitem>
    <p:menuitem value="Atracciones" outcome="/Atracciones.xhtml" icon="ui-icon-search">
        <f:param name="i" value="1" />
    </p:menuitem>
    <p:menuitem value="Visitantes" outcome="/Visitantes.xhtml" icon="ui-icon-document">
        <f:param name="i" value="2" />
    </p:menuitem>
             <p:menuitem value="Encuesta" outcome="/Encuesta.xhtml" icon="ui-icon-document">
        <f:param name="i" value="3" />
    </p:menuitem>
  
</p:tabMenu>
       
       
            <p:growl id="grwlErrores">
                <p:panel header="Agregar Calificacion" id="pnlCalificacion">
                    <h:panelGrid columns="2">
                        <h:outputText value="Codigo"/>
                        <p:inputText required="true" value="#{arbolNControlador.datoCalificacion.codigo}"/>
                        <h:outputText value="Descripción"/>
                        <p:inputText required="true" value="#{arbolNControlador.datoCalificacion.descripcion}"/>
                        <h:outputText value="Tipo"/>
                        <p:selectBooleanCheckbox required="true" value="#{arbolNControlador.datoCalificacion.tipoCalificacion}"/>
                        <h:outputText value="Estado"/>
                        <p:selectBooleanCheckbox required="true" value="#{arbolNControlador.datoCalificacion.estado}"/>
                        <h:outputText value="Peso"/>
                        <p:inputText required="true" value="#{arbolNControlador.datoCalificacion.peso}"/>
                        <p:commandButton value="Agregar" ajax="false" action="#{arbolNControlador.adicionarCalificacion()}" update="pnlCalificacion,grwlErrores"/>
                    </h:panelGrid>
                </p:panel>
                <p:panel header="Calificaciones" id="tblCalificacion">
                    <p:dataTable id="dtanble" var="nodo" value="#{arbolNControlador.listaCalificaciones}" style="width:500px">
                        <p:column headerText="Codigo: ">
                            <center>
                                <h:outputText value="#{nodo.codigo}"/>
                            </center>
                        </p:column>
                        <p:column headerText="Descripcion:">
                            <center>
                                <h:outputText value="#{nodo.descripcion}"/>
                            </center>
                        </p:column>
                        <p:column headerText="Estado: ">
                            <center>
                                <p:selectBooleanCheckbox value="#{nodo.estado}" disabled="true"/>
                            </center>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </p:growl>
        </h:form>
        
    </h:body>
    
    </html>
        
 