<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>TODO supply a title</title>
        <style type="text/css">

            .ui-diagram-element {   
                width:3em; 
                height:3em;
                line-height:3em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 3em;
                border: 1px solid #186080;
                background-color: #186080;
                color: #cccccc;
            }

            .ui-diagram-element:hover {
                background-color: #20282b;
            }

            #frente{
                position: relative;
                z-index: 1;
            }

        </style>
    </h:head>
            <h:form>

       <p:tabMenu activeIndex="#{param.i}">
    <p:menuitem value="Calificaciones" outcome="/Calificaciones.xhtml" icon="ui-icon-star">
        <f:param name="i" value="0" />
    </p:menuitem>
    <p:menuitem value="Atracciones" outcome="/Atracciones.xhtml" icon="ui-icon-search">
        <f:param name="i" value="1" />
    </p:menuitem>
    <p:menuitem value="Visitantes" outcome="/Visitantes.xhtml" icon="ui-icon-document">
        <f:param name="i" value="2" />
    </p:menuitem>
             <p:menuitem value="Encuesta" outcome="/Encuesta.xhtml" icon="ui-icon-document">
        <f:param name="i" value="3" />
    </p:menuitem>
  
</p:tabMenu>
</h:form>
    <h:body>
        <p:growl id="grwlErrores">
            <h:form id="frmEncuesta">
                <p:panel header="Calificar" id="pnlDilEncuesta">
                    <h:panelGrid columns="2">
                        
                            <h:outputText value="Identificaicon"/>
                            <p:selectOneMenu value="#{arbolNControlador.datosH.identificacion}">
                                <f:selectItems value="#{arbolNControlador.listaVisitantes}"/>
                        </p:selectOneMenu>
                        <h:outputText value="Descripción"/>
                        <p:selectOneMenu value="#{arbolNControlador.datoCalificacion.descripcion}">
                            <f:selectItems value="#{arbolNControlador.listaCalificaciones}"/>
                        </p:selectOneMenu>
                        <p:commandButton value="Agregar" ajax="false" action="#{arbolNControlador.adicionarEnEncuesta()}" update="grwlErrores,dgArbol"/>
                    </h:panelGrid>
                </p:panel>
                <p:panel header="Pintar Encuesta" id="dgArbol">
                    <p:diagram id="diagram" value="#{arbolNControlador.model2}" style="height:400px" styleClass="ui-widget-content" />
                </p:panel> 
                <p:remoteCommand name="elementClickRight" immediate="true"
                                 actionListener="#{arbolNControlador.onClickRight()}" 
                                >
            </p:remoteCommand>
            <script>
                $(document).ready(function () {
                    $('.ui-diagram > .ui-diagram-element').mousedown(function (info) {
                        if (info.which === 3) {
                            elementClickRight([{
                                    name: 'elementId',
                                    value: info.target.id
                                }]);
                            
                        }
                    });
                });
            </script>


            <p:contextMenu for="dgArbol" id="pnCmVeh" 
                          targetFilter=".ui-diagram-element" >
                <p:menuitem value="Mostrar Calificaciones" update="dgArbol" immediate="true"
                            ajax="false" icon="ui-icon-disk" action="#{arbolNControlador.mostrarCalificacionesVisitante()}"
                            />
            </p:contextMenu>
            </h:form>
        </p:growl>

    </h:body>
</html>
