<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        
    </h:head>
    <h:body>
        <h:form>
        <p:tabMenu activeIndex="#{param.i}">
    <p:menuitem value="Calificaciones" outcome="/Calificaciones.xhtml" icon="ui-icon-star">
        <f:param name="i" value="0" />
    </p:menuitem>
    <p:menuitem value="Atracciones" outcome="/Atracciones.xhtml" icon="ui-icon-search">
        <f:param name="i" value="1" />
    </p:menuitem>
    <p:menuitem value="Visitantes" outcome="/Visitantes.xhtml" icon="ui-icon-document">
        <f:param name="i" value="2" />
    </p:menuitem>
  
</p:tabMenu>
        </h:form>
    </h:body>
</html>
