<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="#{facesContext.externalContext.requestContextPath}/resources/css/cssLayout.css" rel="stylesheet" type="text/css" media="screen"/>
        <title>Facelets Template</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:3em; 
                height:3em;
                line-height:3em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 3em;
                border: 1px solid #186080;
                background-color: #186080;
                color: #cccccc;
            }
            .ui-diagram-element-busc {   
                width:3em; 
                height:3em;
                line-height:3em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 0em;
                border: 1px solid #186080;
                background-color: red;
                color: black;
            }

            .ui-diagram-element:hover {
                background-color: #20282b;
            }
            
            .ui-widget-header{
                 background-color: transparent;
                 background: transparent;
                 border: 0px;
            }
        </style>
        <ui:insert name="head"></ui:insert>
    </h:head>

    <h:body>

        <div id="top" class="top">
            <h:form>

                <p:dock id="dockTop" position="top"  >
                
                    <p:menuitem id="top0" value="ABB" icon="/images/dock/abb.png" action="abb" ajax="false"/>
                    <p:menuitem id="top1" value="AVL" icon="/images/dock/abb.png" action="avl" ajax="false"/>
                    <p:menuitem id="top2" value="TaxiAVL" icon="/images/dock/abb.png" action="TaxiAvl" ajax="false"/>
                    
                </p:dock>
            </h:form>
            <ui:insert name="top"></ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content"></ui:insert>
            
        </div>
        

    </h:body>

</html>
