<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./menu.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="head">
        
    </ui:define>
    <ui:define name="content">   

        <p:growl id="grwlErrores"/>
        <p:diagram id="pnlArbol" value="#{taxiControlador.model}" style="height:400px" styleClass="ui-widget-content" />

        <p:panelGrid columns="2">
   
            
        <h:form> 
            <p:panel header="Añadir Taxi">
                <p:outputLabel value="Datos"/>
                 <p:outputLabel value="Placa:"/>
                <p:inputText required="true" value="#{taxiControlador.dato.placa}"/>
                 <p:outputLabel value="Ciudad:"/>
                <p:inputText required="true" value="#{taxiControlador.dato.ciudad}"/>
                 <p:outputLabel value="Valor Producido:"/>
                <p:inputText required="true" value="#{taxiControlador.dato.valorProducido}"/>
                <p:commandButton ajax="false"  value="Agregar" action="#{taxiControlador.adicionarNodo()}"
                                 update="@all" />
                



            </p:panel>
        </h:form>
            </p:panelGrid>
        
        
      </ui:define>

</ui:composition>
