<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
    </h:head>

    <h:body>
        <h:form>
                 <p:tabMenu activeIndex="#{param.i}">
    <p:menuitem value="Calificaciones" outcome="/Calificaciones.xhtml" icon="ui-icon-star">
        <f:param name="i" value="0" />
    </p:menuitem>
    <p:menuitem value="Atracciones" outcome="/Atracciones.xhtml" icon="ui-icon-search">
        <f:param name="i" value="1" />
    </p:menuitem>
    <p:menuitem value="Visitantes" outcome="/Visitantes.xhtml" icon="ui-icon-document">
        <f:param name="i" value="2" />
    </p:menuitem>
             <p:menuitem value="Encuesta" outcome="/Encuesta.xhtml" icon="ui-icon-document">
        <f:param name="i" value="3" />
    </p:menuitem>
  
</p:tabMenu>

           
            <p:growl id="grwlErrores">
                <p:panel header="MINDMAP" id="dgMindMap" rendered="#{arbolNControlador.arbolSelec.raiz!=null}">
                    <p:mindmap value="#{arbolNControlador.root}" style="width: 100%;height: 380px;border: 1px solid black;">
                        <p:ajax event="select" listener="#{arbolNControlador.onNodeSelect}" />
                        <p:ajax event="dblselect" listener="#{arbolNControlador.onNodeDblselect}" update="dgOutput" oncomplete="PF('details').show();" />
                    </p:mindmap>

                    <p:dialog id="dgOutput" widgetVar="details" header="Informacion Visitante" resizable="false" modal="true" showEffect="fade" hideEffect="fade">
                        <p:panelGrid columns="2" >
                            <h:outputText value="Nombre: "/>
                            <h:outputText value="#{arbolNControlador.datosMostrar.nombre}"/>
                            <h:outputText value="Identificacion: "/>
                            <h:outputText value="#{arbolNControlador.datosMostrar.identificacion}"/>
                        </p:panelGrid>
                    </p:dialog> 
                </p:panel>
                <p:panel header="Agregar Visitante   (#{arbolNControlador.arbolSelec.grupo})" id="asd" >
                    <h:panelGrid columns="2">
                        <h:outputText value="Nombre: "/>
                        <p:inputText required="true" value="#{arbolNControlador.datosH.nombre}"/>
                        <h:outputText value="Identificación: "/>
                        <p:inputText required="true" value="#{arbolNControlador.datosH.identificacion}"/>
                        <h:outputText value="Identificación Padre: " rendered="#{arbolNControlador.arbolSelec.raiz!=null}"/>
                        <p:selectOneMenu id="padre" value="#{arbolNControlador.comboX.identificacion}" style="width:125px" rendered="#{arbolNControlador.arbolSelec.raiz!=null}">
                            <f:selectItems value="#{arbolNControlador.listaVisitantes}" />
                        </p:selectOneMenu>
                        <p:commandButton value="Agregar" ajax="false" action="#{arbolNControlador.adicionar()}" update="grwlErrores,asd" />
                    </h:panelGrid>
                </p:panel>

                <p:panel header="Grupos Visitantes" id="pnlGrpVis">
                    <p:dataTable var="arbol" value="#{arbolNControlador.lstArboles}" style="width:400px">
                        <p:column headerText="Grupo">
                            <h:outputText value="#{arbol.grupo}"/>
                        </p:column>
                        <p:column>
                            <p:commandButton ajax="false" icon="ui-icon-search" title="Ver" action="#{arbolNControlador.mensajeSeleccionado(arbol)}" update="grwlErrores,pintarNuevo" immediate="true"/>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton ajax="false" value="Crear" immediate="true" action="#{arbolNControlador.crearGrupo()}" update="pnlGrpVis" />
                </p:panel>

            </p:growl>
        </h:form>
    </h:body>
</html>

